body {
  margin: 0; /* Stops a weird white border around the page */
  box-sizing: border-box; /* Fixes another bug with horizontal scrolling due to the banner */
  background-color: rgb(19, 19, 19);
}

/* Ensures everything is using the border-box sizing + universal font */
*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: Arial; /* Temporary Arial, it may change when we have decided on the font. Arial may remain a fallback. */
  align-content: center;
}

/* Style for the top banner */
.terminusTopBanner {
  display: flex;
  justify-content: space-between; /* Keeps it centred correctly */
  background-color: #333;
  color: white; /*Changes the colour of the menu button, adding this just in case the colour scheme we pick changes */
  align-items: center; /* Centres everything */
  position: sticky; /* From here... */
  top: 0;
  z-index: 10000; /* Down to here, it allows for the sticky banner to follow the user along the page */
  padding: 1vh; /* Adds more height and width of the banner and icons */
}

/* Menu icon on the left */
.menuOption {
  font-size: 2vw;
  cursor: not-allowed; /* Shows the user a crossed out cursor, reason is because we haven't added the implentation in as of yet. */
  padding: 1vw;
}

/* Centred banner content */
.bannerFormat {
  align-items: center; /* Centres hyperlinks */
  display: inherit; /* Holds everything together */
  gap: 3vw; /* Gap between the web pages and the centre logo. */
  max-height: 1vw;
  margin-left: 6vh; /* Centers the logo and text for the website, adjust as needed using vh or maybe vw */
}

/* Links on both sides of the logo */
.LBannerLinks,
.RBannerLinks,
.right-logos {
  /* If you don't wish for things to move on the banner, add them here. */
  display: flex; /* Centres the text into the middle of the banner */
  gap: 3vw; /* spacing between hyperlinks */
  font-size: 1vw;
}

/* Styling for individual links */
.LBannerLinks a,
.RBannerLinks a {
  font-family: "Anta", sans-serif;
  color: white; /* Looks cool in blue, but we can change the colour later depending on what colour scheme we choose. */
  text-decoration: none; /*Part of the animation for hovering. Hides the initial underlining. */
  font-weight: bold; /* BOLD text :D */
  display: block;
}

.LBannerLinks a:hover,
.RBannerLinks a:hover {
  text-decoration: underline; /* Small animation for when hovering over each other page choice on the banner */
}

/* Logo styling */
.logo {
  /* Restrains the logo from being crazy large. */
  width: 5vw; /* May remove this line, unsure if it's changing anything */
  height: 5vw;
  display: block;
}

.right-logos {
  /* added this to group the icons on the right side*/
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1vw; /* space between basket and user icon */
}

/* Basket icon on the right of the banner. Only a placeholder as the icon will be replaced in the near future with an image instead of an emoji */
.userBasket {
  font-size: 2vw;
  cursor: not-allowed; /* this will be changed once functionality is implemented.*/
  padding: 1vw;
  padding-top: 3px; /*i added this to fix the alignment of two icons*/
}

.userIcon img {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  cursor: pointer;
}

/* Placeholder image */
.placeholderImages {
  animation: fadeIn ease-in 1s both;
  display: flex;
  justify-content: center;
}

footer.top > img {
  height: 50px;
  margin: 0 auto 50px;
}

footer {
  position: relative;
  margin: 0 30px;
  color: rgb(255 255 255 / 50%);
}

footer.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 8px;
  padding: 20px 0;
  text-align: center;
}

.links-column {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 8rem;
}

footer h2 {
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(255 255 255 / 96%);
}

footer p {
  margin: 0;
}

.legal > a {
  margin: 0 0 0 4px;
}

.legal,
.copyright {
  font-size: 12px;
}

.legal > span {
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #aaa8a8;
}

a:hover {
  color: purple;
}

footer.top .socials {
  position: absolute;
  left: 50%;
  bottom: 10px;
  translate: -50% 0;
  display: flex;
  align-items: center;
  gap: 18px;
  height: 56px;
}

footer.top .socials > a {
  font-size: 24px;
}

.socials a:hover {
  color: blue;
}

.socials-column :is(h2, p) {
  display: none;
}

#play-store {
  width: 180px;
  height: 70px;
}

#apple-store {
  width: 180px;
  height: 60px;
}

.store-logos {
  display: flex;
}

.second-row,
.first-row {
  display: flex;
  gap: 1.4rem;
}

.second-row {
  align-items: center;
}

.first-row {
  gap: 4rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin-right: auto;
}

@media (width > 400px) {
  .links-column {
    text-align: left;
  }

  footer.top .links {
    grid-template-columns: repeat(2, 1fr);
    margin-right: 50px;
  }

  footer.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    text-align: left;
  }

  footer.top .socials {
    left: 0;
    translate: 0;
  }

  footer.top > img {
    margin: 0 0 50px;
  }
}

@media (width >= 640px) {
  footer {
    margin: 0 auto;
    max-width: 580px;
    padding: 0;
  }

  footer.top .links {
    grid-template-columns: repeat(3, 1fr);
  }

  footer.top .socials {
    position: static;
  }

  footer.bottom {
    justify-content: flex-start;
  }

  .socials-column :is(h2, p) {
    display: block;
  }
}
/* The fading in animation, used by the placeholder footer and image. */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } /* Goes from 0 opacity to 100. */
}
@media (max-width: 540px) or (max-height: 200px) {
  .terminusTopBanner {
    display: ruby-base;
    padding: 20px 0px;
  }
  .LBannerLinks,
  .RBannerLinks {
    gap: 10px;
    display: none;
  }
}

/* Styling for Search Bar Section */
.search-bar {
  display: flex;
  justify-content: center;
  align-items: left;
  padding: 8px 0;
  background-color: #333;
}

.search-container {
  display: flex;
  align-items: center;
  border: 0.5px solid #d40464;
  border-radius: 20px;
  background-color: #333; /* Slightly darker than the section */
  padding: 1px 10px;
  width: 100%; /* Responsive width */
  height: 7vh;
  max-width: 500px; /* Limit the max width */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.search-container:hover {
  transform: scale(1.01); /* Subtle hover effect */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.search-input {
  flex: 1;
  background: none;
  color: white;
  font-size: 15px;
  outline: none;
  padding: 5px;
  font-family: "SUSE", sans-serif;
}

.search-input::placeholder {
  color: #b1b1b1;
}

/* Responsive Design */
@media (max-width: 768px) {
  .search-container {
    width: 90%;
  }
}

/* product page/keyboard*/

.product-list {
  padding: 2rem 1rem; 
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.product-list-title {
  font-family: "Anta", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: white;
}

/* Filter Container */
.filter-container {
  margin-bottom: 2rem;
}

select {
  padding: 0.5rem;
  font-family: "SUSE", sans-serif;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #262626;
  color: white;
  outline: none;
  transition: border-color 0.3s ease;
}

select:focus {
  border-color: #d40464;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 0; 
}

.product-card {
  background-color: #262626;
  padding: 1.5rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  height: 100%; 
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.product-name {
  font-family: "SUSE", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem 0 0.5rem;
  color: white;
}

.product-description {
  font-family: "SUSE", sans-serif;
  font-size: 0.9rem;
  color: #cccccc;
  margin: 0 0 1rem;
  line-height: 1.4;
  flex-grow: 1; 
}

.product-price {
  font-family: "Anta", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #00cc66;
  margin: 0.5rem 0;
}
.add-to-cart {
  font-family: "SUSE", sans-serif;
  display: inline-block;
  background-color: #d40464;
  color: white;
  border: 1px solid #d40464;
  padding: 12px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
  width: auto;
  margin-top: auto;
  text-decoration: none;
}

.add-to-cart:hover {
  background-color: #d40464;
  color: #333;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

/* Banner*/

.keyboards_banner {
  background: url('Compressed_Images/featured5.jpg') center/cover no-repeat;
  height: 30vh; 
  display: flex;
  width: 100vw; 
  margin-left: calc(-50vw + 50%); 
  margin-right: calc(-50vw + 50%); 
  margin-top: -2rem; 
  margin-bottom: 2rem; 
  align-items: center;
  justify-content: center;
  position: relative;
}

.keyboards_overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.keyboards_overlay h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: white;
  font-family: "Anta", sans-serif;
}

.keyboards_overlay p {
  font-size: 1.1rem;
  color: #f0f0f0;
  font-family: "SUSE", sans-serif;
}
